

* {
	margin:0;
	padding:0;
}


#loginb{
	margin-left:20px;
	background-color:rgb(3, 3, 255);
	padding:0px;
	border-radius:10px;
	cursor: pointer;
	border:none;
	font-size:15px;
}

#loginb a{
color:white;
}

#home{
	font-size:22px;
	margin-top:-5px;
	font-weight:700;
	color:red;
}


#loginbtn{
	width:100px;
	height:50px;
	border-radius:10px;
	box-shadow:2px 2px rgb(16, 84, 245);
	background-color:transparent;
}

#loginbtn:hover{
    background-color:rgb(251, 251, 253);
}

#loginbtn a{
	text-decoration:none;
    color:rgb(1, 13, 253);
    font-size:18px;
	font-weight:500;
}


/* start from here main cont styling ......... */


.cont {
	width: 100%;
	background-color: rgb(246 246 246);
	z-index:-1;
	height: 700px;
}
@media screen and (max-width: 400px) {
	.cont {
		height: auto;
	}
}
.a2 {
	width: 50%;
	height: 700px;
	float: left;
}
@media screen and (max-width: 400px) {
	.a2 {
		width: 100%;
		height: auto;
		display: block;
	}
}


#s2 {
	margin-top: 50px;
}
#s1 {
	margin-top: 100px;
	text-align: center;
	color: red;
	font-size: 70px;
}
@media screen and (max-width: 400px) {
	#s1 {
		font-size: 35px;
		display: block;
		text-align: justify;
	}
	#s2 {
		height: 250px;
		display: block;
		margin-left: 50px;
	}
}

.cont1 {
	display: grid;
	background-color: rgb(246 246 246);
	width: 100%;
	height: 500px;
}
@media screen and (max-width: 400px) {
	.cont1 {
		height: auto;
	}
}

#s3 {
	text-align: center;
	font-size: 50px;
	color: red;
	display: inline;
}

@media screen and (max-width: 400px) {
	#s3 {
		color: aqua;
		font-size: 35px;
	}
}
.a3 {
	width: 100%;
	height: 380px;
	background-color: rgb(246 246 246);
}
@media screen and (max-width: 400px) {
	.a3 {
		height: auto;
	}
}

.a3 p {
	font-size: 25px;
	font-style: italic;
	line-height: 35px;
}
@media screen and (max-width: 400px) {
	.a3 p {
		font-size: 18px;
	}
}

.cont2 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 150px;
}
@media screen and (max-width: 400px) {
	.cont2 {
		height: auto;
		background-color: bisque;
		display: inline-block;
	}
}

.a4 {
	margin: 20px;
	width: 300px;
	height: 100px;
	border-radius: 15px;
	background-color: rgb(14, 6, 9);
	display: inline-block;
}

.a4:hover{
	background-color:rgb(254, 195, 85);
	box-shadow:5px 5px 5px blue;
}

@media screen and (max-width: 400px) {
	.a4 {
		display: block;
		text-align: center;
		margin-left: 50px;
	}
}
.a4 h1 {
	text-align: center;
	color: white;
	font-size:20px;
	margin-left: 2px;
}
@media screen and (max-width: 400px) {
	.a4 h1 {
		font-size: 20px;
	}
}
.a4 h3 {
	text-align: center;
	margin-top: 8px;
	color: white;
}
@media screen and (max-width: 400px) {
	.a4 h3 {
		font-size: 17px;
	}
}


.a4 h1:hover{
	color:green;
}

#cot4{
	background-color:black;
}

.cont3 {
	width: 100%;
	height: 500px;
}

@media screen and (max-width: 400px) {
	.cont3 {
		height: 300px;
	}
}

.cont4 {
	width: 100%;
	height: 720px;
	background-color:rgb(223, 246, 230);
}

#counting {
color:blue;
}

.a6 {
	width: 50%;
	height: 600px;
	float: left;
}
@media screen and (max-width: 400px) {
	.a6 {
		width: 100%;
		height: 424px;
		background-color: rgb(243 254 219);
	}
}
.cont4 h1 {
	text-align: center;
	font-size:55px;
	color: red;
}
@media screen and (max-width: 400px) {
	.cont4 h1 {
		font-size:35px;
	}
}

.a6 h1 {
	margin-left: -15px;
}


@media screen and (max-width: 400px) {
	#s7 {
		width: 360px;
		height: 400px;
	}
}
#s5 {
	margin-top: 200px;
	margin-left: 180px;
	height: 60px;
}
@media screen and (max-width: 400px) {
	#s5 {
		margin-top: 100px;
		margin-left:70px;
	}
}
.a6 h2 {
	margin-left: 180px;
}
@media screen and (max-width: 400px) {
	.a6 h2 {
		margin-left: 80px;
	}
}
.a6 button {
	padding: 15px;
	margin-top: 30px;
	margin-left: 250px;
	border-radius: 10px;
	background-color: red;
	color: white;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
@media screen and (max-width: 400px) {
	.a6 button {
		margin-left: 80px;
	}
}
.cont5 {
	width: 100%;
	height: 700px;
	background-color:rgb(223, 246, 230);
}
@media screen and (max-width: 400px) {
	.cont5 {
		height: auto;
	}
}
.a9 {
	width: 50%;
	height: 700px;
	background-color:rgb(223, 246, 230);
	float: left;
}
@media screen and (max-width: 400px) {
	.a9 {
		width: 100%;
		display:block;
		height: auto;
	}
}

#s11 {
	margin-left: 100px;
	margin-top: 200px;
}
@media screen and (max-width: 400px) {
	#s11 {
		margin-top: 25px;
		margin-left: 15px;
	}
}
.a9 h1 {
	margin-left: 100px;
	font-size: 50px;
}
@media screen and (max-width: 400px) {
	.a9 h1 {
		font-size: 35px;
		margin-left: 10px;
	}
}

.a9 p {
	text-align: justify;
	font-size: 24px;
	margin-left: 100px;
}
@media screen and (max-width: 400px) {
	.a9 p {
		font-size: 20px;
		margin-left: 1px;
	}
}
.a9 button {
	padding: 15px;
	margin-left: 100px;
	margin-top: 20px;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
}
@media screen and (max-width: 400px) {
	.a9 button {
		margin-left: 1px;
	}
}
.a9 a {
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
}
#s12 {
	margin-top: 50px;
	height: 500px;
	width: 500px;
}
@media screen and (max-width: 400px) {
	#s12 {
		height: 300px;
		width: 300px;
		margin-left: 50px;
	}
}

.c9 {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	border: none;
}

.cont6 {
	width: 100%;
	height: 700px;
	background-color:black;
}

@media screen and (max-width: 400px) {
	.cont6 {
		height: auto;
	}
}
.a15 {
	width: 50%;
	height: 700px;
	float: left;
	border:none;
}

@media screen and (max-width: 400px) {
	.a15 {
		width: 100%;
		height: auto;
		background-color:black;
	}
}
.a15 img {
	width: 600px;
	margin-top: 80px;
	height: 500px;
}
@media screen and (max-width: 400px) {
	.a15 img {
		width:360px;
		height: 350px;
	}
}
.a15 h1 {
	margin-top: 150px;
	font-size: 50px;
	color: red;
}
@media screen and (max-width: 400px) {
	.a15 h1 {
		margin-top: 20px;
		font-size: 40px;
	}
}
.a15 p {
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: 600;
}
@media screen and (max-width: 400px) {
	.a15 p {
		font-size: 25px;
	}
}

.a15 button {
	padding: 15px;
	margin-top: 20px;
	background-color:rgb(52, 52, 252);
	margin-left: 150px;
	font-weight: bold;
	color: white;
	font-size: 15px;
	border-radius: 10px;
}

@media screen and (max-width: 400px) {
	.a15 button {
		margin-left: 20px;
	}
}
.a15 button:hover {
	background-color: rgb(243, 236, 237);
	font-size: 15px;
	cursor: pointer;
	font-weight: bold;
	color: black;
}

.footer {
	width: 100%;
	height: 600px;
}

.a21 {
	width: 50%;
	height: 600px;
	float: left;
	background-color:rgb(223, 246, 230);
}
@media screen and (max-width: 400px) {
	.a21 {
		width: 100%;
		height: auto;
	}
}
.a21 img,
h1,
p {
	margin-left: 150px;
}
@media screen and (max-width: 400px) {
	.a21 img,
	h1,
	p {
		margin-left: 20px;
	}
}

.a21 img {
	margin-top: 100px;
}
@media screen and (max-width: 400px) {
	#a21 {
		margin-left: 10px;
		width: 360px;
	}
}
.a21 p {
	font-size: 20px;
	color: rgb(1, 64, 1);
	font-style: italic;
	margin-top: 10px;
}

#a21 {
	margin-top: 10px;
}

.foot {
	width: 100%;
	height: 240px;
	background-color:rgb(223, 246, 230);
}

.a22 {
	width: 250px;
	float: left;
	margin: 20px;
	border-radius: 20px;
	height: 200px;
	background-color: rgb(53 135 245);
}

@media screen and (max-width: 400px) {
	.a22 {
		width: 100%;
		height: 130px;
		border-radius: 0px;
		margin: 0px;
		background-color: rgb(43, 41, 41);
	}
}

#a22 {
	margin-left: 30px;
	margin-top: 40px;
	line-height: 50px;
	font-size: 35px;
}
@media screen and (max-width: 400px) {
	#a22 {
		font-size: 28px;
		color: white;
	}
}

.a22 img {
	margin-left: 50px;
	margin-top: 50px;
}
.a22 h2 {
	text-align: center;
	margin-top: 20px;
	color: black;
}

@media screen and (max-width: 400px) {
	.a22 h2 {
		margin-top: 0;
		color: white;
	}
}

.a22 a {
	text-decoration: none;
}

.mainfoot {
	width: 100%;
	height:373px;
	background-color: rgb(0, 0, 0);
	display: flex;
}

@media screen and (max-width: 400px) {
	.mainfoot {
		width: 100%;
		height: auto;
	}
}

.a25 {
	width: 250px;
	margin: 10px;
	height:373px;
	float: left;
}

@media screen and (max-width: 400px) {
	.a25 {
		width: 100%;
		height:300px;
		background-color:black;
	}
}

.a25 a {
	display: block;
	font-size: 16px;
	text-decoration: none;
	margin: 20px;
	color: rgb(248, 248, 66);
}

@media screen and (max-width: 400px) {
	.a25 a {
		font-size: 10px;
		margin: 4px;
	}
}

.c9 {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 30px;
}

@media screen and (max-width: 400px) {
	.c9 {
		height: auto;
		width: 100%;
		margin: 5px;
	}
}

.a26 {
	width: 430px;
	height:373px;
}

@media screen and (max-width: 400px) {
	.a26{
		height:325px;
	}
}

.a26 img {
	height: 40px;
	width: 40px;
	border-radius: 30px;
	margin-top: 100px;
	margin-left: 20px;
}

@media screen and (max-width: 400px) {
	.a26 img {
		height: 25px;
		width: 25px;
		margin: 5px;
	}
}

#nn {
	font-size: 30px;
	color: green;
	text-decoration: none;
	position: absolute;
	margin-top: 80px;
	margin-left: 30px;
}

@media screen and (max-width: 400px) {
	#nn {
		font-size: 10px;
		color: blue;
		margin-top: 10px;
		margin-left: 2px;
	}
}

#bb {
	margin-left: 190px;
	margin-top: -20px;
	position: absolute;
}

@media screen and (max-width: 400px) {
	#bb {
		margin-left: 0px;
		margin-top: 30px;
		display: none;
	}
}



.a25 a:hover {
	color: rgb(196, 196, 196);
}

#icon1 {
	width: 50px;
	height: 50px;
	display: none;
}

@media screen and (max-width: 400px) {
	#icon1 {
		background-color: white;
		display: block;
		position: absolute;
		margin-top: -65px;
		margin-left: 320px;
	}
}

/* let's start from here newfeatures styling start now ..... */

.newfeatures{
	width:100%;
	height:650px;
	background-color:rgb(223, 246, 230);
}
.newfeatures .card{
	width:40rem;
	float:left;
	margin-left:80px;
	margin-top:50px;
	border-radius:15px;
}

@media screen and (max-width:400px){
	.newfeatures .card{
		width:100%;
        margin-left:0px;
	}
	
}

.newfeatures .card img{
	height:400px;
	border-radius:15px;
}



/* start from here rights div styling code so let's start now .. */

.rights{
	width:100%;
	height:50px;
}

@media screen and (max-width:400px) {
	.rights{
		height:100px;
		background-color:blue;
	}
}

.righthalf{
	width:50%;
	background-color:blue;
    height:50px;
	float:left;
}


@media screen and (max-width:400px) {
	.righthalf{
	width:100%;
	border:none;
	}
}


.righthalf p{
	float:left;
	margin-left:40px;
	color:white;
	font-weight:600;
}

@media screen and (max-width:400px) {
	.righthalf p{
		margin-left:0px;
		font-weight:300;
		margin-left:20px;
	}
	
}